{
  "name": "{{atom.doc['npm::name'] or atom.doc['name'] or atom['id']}}",
  "version": "{{atom.doc['npm::version'] or '0.1.0'}}",
  "files": [
    "dist/*",
    "fnet/input.yaml",
    "fnet/output.yaml"
  ],
  {# "sideEffects": false, #}
  {% if atom.doc['npm::author'] %}
  "author": "{{atom.doc['npm::author'] | safe}}",
  {% endif %}

  {% if atom.doc['npm::description'] %}
  "description": "{{atom.doc['npm::description'] | safe}}",
  {% endif %}

  {% if atom.doc.features.project.format ==='cjs' %}
    {% if atom.doc.features.rollup_output.esm.enabled === true%}
  "main": "dist/default/esm/index.js",
  "type":"module",
    {% else %}
  "main": "dist/default/cjs/index.cjs",  
    {% endif %}
  {% if atom.doc.features.dts_enabled ===true %}
  "types": "dist/default/types/index.d.ts",
  {% endif %}
  "exports":{
    ".":{
      "import":"./dist/default/esm/index.js",
      "require":"./dist/default/cjs/index.cjs"
    }
  },
  {% else %}
  "main": "dist/default/esm/index.js",
  {% if atom.doc.features.dts_enabled ===true %}
  "types": "dist/default/types/index.d.ts",
  {% endif %}
  "type":"module",
  "exports":{
    ".":{
      "import":"./dist/default/esm/index.js",
      "require":"./dist/default/cjs/index.cjs"
    }
  },
  {% endif %}

  {% if atom.doc.repo.url %}
    "repository": {
        "type": "{{atom.doc.repo.type or 'git'}}",
        "url": "{{atom.doc.repo.url}}"
    },
  {% endif %}
  "license": "{{atom.doc.license or 'MIT'}}",
  "scripts": {
    "build": "rollup --config",
    "watch": "rollup --config --watch --sourcemap --environment DEVELOPMENT",
    "serve": "npx serve ./"
    {% if atom.doc.features.cli.enabled %}
    {% if atom.doc.features.project.format ==='cjs' %}
    ,"cli": "node {{atom.doc.features.cli.node_options}} {{atom.doc.features.cli.dir}}/index.cjs"
    {% else %}
    ,"cli": "node {{atom.doc.features.cli.node_options}} {{atom.doc.features.cli.dir}}/"
    {% endif %}

    {% endif %}
    {% if atom.doc.features.app.enabled %}
    ,"app": "npx serve {{atom.doc.features.app.dir}}/"
    {% endif %}
  },
  "devDependencies": {
    {% for dep in packageDevDependencies %}
    "{{dep.package}}":"{{dep.version}}" {% if not loop.last%},{%endif%}
    {% endfor%}    
  },
  "dependencies": {
    {% for dep in packageDependencies %}
    "{{dep.package}}":"{{dep.version}}" {% if not loop.last%},{%endif%}
    {% endfor%}
    }
    {% if atom.doc.features.cli.enabled and atom.doc['npm::bin'] %}
    ,"bin":{
      {% if atom.doc.features.project.format ==='cjs' %}
      "{{atom.doc['npm::bin']}}":"{{atom.doc.features.cli.dir}}/index.cjs"
      {% else %}
      "{{atom.doc['npm::bin']}}":"{{atom.doc.features.cli.dir}}/index.js"
      {% endif %}
    }
    {% endif %}
}